<!-- Carrito (solo aparece al bajar el scroll) -->
<div class="cart-wrapper" *ngIf="mostrarCarrito && authService.authStatus">
    <!-- Botón para abrir/cerrar el carrito -->
    <button class="cart-button" (click)="toggleCarrito()">
        🛒 <span>Carrito</span>
    </button>

    <!-- Contenedor del carrito -->
    <div class="cart-panel" [ngClass]="{ 'open': carritoVisible }">
        <div class="cart-header">
            <h3>🛍 Mi Carrito</h3>
            <button class="close-btn" (click)="toggleCarrito()">✖</button>
        </div>
        <div class="cart-body">
            <div class="cart-item" *ngFor="let item of carritoItems">
                <div class="item-details">
                    <h4>{{ item.producto.nombre }}</h4>
                    <p>Cantidad: {{ item.cantidad }}</p>
                    <p>Subtotal: {{ item.subtotal }}</p>
                </div>
                <div class="item-actions">
                    <button (click)="carritoService.removeProducto(item.producto)">-</button>
                    <button (click)="carritoService.addProducto(item.producto)">+</button>
                </div>
            </div>
            <!-- Mensaje si el carrito está vacío -->
            <ng-template #emptyCart>
                <p class="empty-text">Tu carrito está vacío</p>
            </ng-template>

        </div>
        <div class="cart-footer">
            <div class="cart-total">

                <p>Total: {{ carritoService.getTotal() | number:'1.2-2' }}</p>
                <p>Cantidad: {{ carritoService.getTotalItems() }}</p>
                <button class="crear-orden-btn" (click)="crearOrden()" [disabled]="carritoItems.length<=0" >Crear Orden</button>
            </div>
        </div>
    </div>
</div>