<div class="header">
    <div class="logo">
        <img src="assets/logoTech.png" alt="TodoTech Shop">
    </div>
    <nav>
        <ul class="menu">
            <li><a href="/inicio">Inicio</a>
            <li><a href="/laptops">Laptops & PCs</a>
            <li><a href="/phone">Smartphones</a>
            <li><a href="/gaming">Gaming</a>
            <li><a href="/accesorios">Accesorios</a>
        </ul>
    </nav>
    <div class="icons">
        <i class="fa fa-search"></i>
        <i class="fab fa-facebook-f"></i>

    </div>
</div>
<section class="banner">
    <div class="banner-content">
        <h2>
            <span class="reveal-text delay-1">¡ Bienvenido a TodoTechShop Tecnología Sin Límites !</span>
            <span class="reveal-text delay-2"></span>
            <span class="reveal-text delay-3">Descubre innovación, calidad y asesoría experta en cada compra</span>

        </h2>
    </div>
</section>
