<div class="header" *ngIf="isLoggedIn">
    <div class="logo">
        <img src="assets/logoTech.png" alt="TodoTech Shop">
    </div>
    <nav>
        <ul class="menu">
            <li><a routerLink="/inicio">Inicio</a>
            <li><a routerLink="/laptops">Laptops & PCs</a>
            <li><a routerLink="/phone">Smartphones</a>
            <li><a routerLink="/gaming">Gaming</a>
            <li><a routerLink="/accesorios">Accesorios</a>
        </ul>
    </nav>
    <div class="icons">
        <i class="fas fa-search"></i>
        <i class="fas fa-shopping-cart"></i>
    </div>
</div>
<section class="banner" *ngIf="isLoggedIn">
    <div class="banner-content">
        <h2>
            <span class="reveal-text delay-1">¡ Bienvenido a TodoTechShop Tecnología Sin Límites !</span>
            <span class="reveal-text delay-2"></span>
            <span class="reveal-text delay-3">Descubre innovación, calidad y asesoría experta en cada compra</span>

        </h2>
    </div>
</section>
