
.footer {
    background: #111;
    color: white;
    padding: 50px 0; /* Aumenta el padding */
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 50px; /* Espacio extra respecto al carrusel */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-section h2,
.footer-section h3 {
    color: #ececec;
    margin-bottom: 15px;
    font-size: 15px;
}

.footer-section p,
.footer-section a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #f0a500;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: white;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #f0a500;
}

.social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    color: #f0a500;
    transform: scale(1.1);
}

.footer-bottom {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
}

