<div class="body">
    <main class="login-container">
    <div class="login-box">
        <img src="assets/TigreCircle.png" alt="Logo TodoTech Shop" class="logo">
        <form (ngSubmit)="onLogin()">
            <div class="input-group">
                <input
                        type="text"
                        id="usuario"
                        name="usuario"
                        required
                        [(ngModel)]="username"
                        placeholder=" ">
                <label for="usuario">Usuario</label>
            </div>

            <div class="input-group">
                <input
                        type="password"
                        id="password"
                        name="password"
                        required
                        [(ngModel)]="password"
                        placeholder=" ">
                <label for="password">Contraseña</label>
            </div>

            <button type="submit">Ingresar</button>
        </form>
    </div>
</main>
</div>
